:root {
  --red-color: #ff0000;
  --white-color: #ffffff;
  --header-color: #202020;
  --backgroud--color: #000000;
  --right-grey-color: #5a5a5a;
  --dark-grey-color: #181818;

  /* size */
  --icon-size: 24px;
  --icon-width: 24px;
  --icon-height: 24px;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
