div.content-box {
  width: 300px;
  height: 50px;
  border: 1px solid crimson;
  margin: auto;
}

div.content-box div {
  width: 100px;
  height: 50px;
  padding: 10px;
  border: 5px solid khaki;
  float: left;
  box-sizing: content-box;
}

div.border-box {
  width: 300px;
  height: 50px;
  border: 1px solid crimson;
  margin: auto;
}

div.border-box div {
  width: 100px;
  height: 50px;
  padding: 10px;
  border: 5px solid khaki;
  float: left;
  box-sizing: border-box;
}

/* hover, mouse over event는 border 까지 해당되는 듯. */
div.border-box div:hover {
  border-color: royalblue;
}
